# IS362 Project 1

## Direction

(1) Create a .CSV file (or optionally, a MySQL database!) that includes all of the information below. You may change
the structure of the information as you like.

(2) Read the information from your .CSV file into pandas, and perform analysis to compare the arrival delays for the
two airlines.

(3) Your code should be in a Jupyter (IPython) notebook (in GitHub), and should include narrative descriptions of your
analysis and conclusions.

### Creating a .CSV file

We will first create a .csv file of the data given regarding Alaska and AM West airlines.

In [2]:
# import the modules we're going to use

import csv
import pandas as pd

In [3]:
# writing a csv file
with open('data.csv', 'w') as csvfile:
    filewriter = csv.writer(csvfile, delimiter=',')
    filewriter.writerow(['City', 'Alaska-on time', 'Alaska-delayed', 'AM West-on time', 'AM West-delayed'])
    filewriter.writerow(['Los Angeles', 497, 62, 694, 117])
    filewriter.writerow(['Phoenix', 221, 12, 4840, 412])
    filewriter.writerow(['San Diego', 212, 20, 383, 65])
    filewriter.writerow(['San Francisco', 503, 102, 320, 129])
    filewriter.writerow(['Seattle', 1841, 305, 201, 61])

In [4]:
#opening a csv file by printing each row
with open('data.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['City', 'Alaska-on time', 'Alaska-delayed', 'AM West-on time', 'AM West-delayed']
[]
['Los Angeles', '497', '62', '694', '117']
[]
['Phoenix', '221', '12', '4840', '412']
[]
['San Diego', '212', '20', '383', '65']
[]
['San Francisco', '503', '102', '320', '129']
[]
['Seattle', '1841', '305', '201', '61']
[]

### Reading .CSV file into Pandas

In [5]:
read_file = pd.read_csv('data.csv')
read_file

,City,Alaska-on time,Alaska-delayed,AM West-on time,AM West-delayed
0,Los Angeles,497,62,694,117
1,Phoenix,221,12,4840,412
2,San Diego,212,20,383,65
3,San Francisco,503,102,320,129
4,Seattle,1841,305,201,61

### Comparing the data

We want to compare the arrival delays of both airlines, Alaska and AM West.  In order to do that, we will have to add all the flights (on time and delayed flights) of each airline.  The number of delayed flights would then be divided by the total number of flights.  We want convert the quotient to a percentage by multiplying it by 100.

In [7]:
# computation of delayed flights percentages
# will also add rows to the file
read_file['Total Alaska flights'] = read_file['Alaska-on time'] + read_file['Alaska-delayed']
read_file['Total AM West flights'] = read_file['AM West-on time'] + read_file['AM West-delayed']
read_file['Percentage of delayed flights-Alaska'] = (read_file['Alaska-delayed'] / read_file['Total Alaska flights']) * 100
read_file['Percentage of delayed flights-AM West'] = (read_file['AM West-delayed'] / read_file['Total AM West flights']) * 100
read_file

,City,Alaska-on time,Alaska-delayed,AM West-on time,AM West-delayed,Total Alaska flights,Total AM West flights,Percentage of delayed flights-Alaska,Percentage of delayed flights-AM West
0,Los Angeles,497,62,694,117,559,811,11.091234,14.426634
1,Phoenix,221,12,4840,412,233,5252,5.150215,7.844631
2,San Diego,212,20,383,65,232,448,8.620690,14.508929
3,San Francisco,503,102,320,129,605,449,16.859504,28.730512
4,Seattle,1841,305,201,61,2146,262,14.212488,23.282443

Looking at the percentages of delayed flights for Alaska and AM West airlines, we see that AM West has a higher delayed flights percentage.  Both airlines have the least delayed percentage for flights to Phoenix and the most for flights to San Francisco.  Based on the data, Alaska airlines is a better airline than AM West when in comes to getting you to your destination on time.